<header class="navbar navbar-expand-md d-print-none">
        <div class="container-xl">
                <div class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
                        <a href=".">
                                <img width="42" height="42"
                                        src="{{ url_for('static', filename='img/pydentity-icon.png') }}">
                        </a>
                </div>
                <div class="navbar-nav flex-row order-md-last">
                        <div class="nav-item dropdown">
                                <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown"
                                        aria-label="Open user menu">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="icon icon-tabler icons-tabler-outline icon-tabler-menu-2">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                <path d="M4 6l16 0" />
                                                <path d="M4 12l16 0" />
                                                <path d="M4 18l16 0" />
                                        </svg>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                        <a href="{{ url_for('auth.logout') }}" class="dropdown-item">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                        viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                        class="icon icon-tabler icons-tabler-outline icon-tabler-logout">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                        <path
                                                                d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                                                        <path d="M9 12h12l-3 -3" />
                                                        <path d="M18 15l3 -3" />
                                                </svg>
                                                &nbsp;Logout</a>
                                </div>
                        </div>
                </div>
        </div>
</header>