<!DOCTYPE html>
<html lang="en">
{% include('components/head.jinja')%}

<body>
    <div class="page">
        <!-- Navbar -->
        <div class="sticky-top">
            {% include('components/header.jinja')%}
        </div>
        <div class="page-wrapper">
            <!-- Page body -->
            {% block page %}{% endblock %}
            <div class="sticky-bottom">
                {% include('components/footer.jinja')%}
            </div>
        </div>
    </div>
    {% include('components/modals/scanner.jinja')%}
    {% include('components/modals/credential.jinja')%}
    {# {% include('components/modals/credentials.jinja')%} #}
    {% include('components/modals/connections.jinja')%}
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.1.1/dist/js/tabler.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</body>

</html>