<div class="modal modal-blur fade" id="modal-connections" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Connections</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-3">
                    {% for connection in session['connections'] %}
                    <div class="row g-3 align-items-center">
                        <a href="#" class="col-auto">
                            <span class="avatar avatar-2" style="background-image: url({{ connection.get('their_image') }})">
                            {% if connection.get('state') == 'active' %}
                                <span class="badge bg-success"></span>
                            {% else %}
                                <span class="badge bg-warning"></span>
                            {% endif %}
                            </span>
                        </a>
                        <div class="col text-truncate">
                            <a href="#" class="text-reset d-block text-truncate">{{ connection.get('alias') or connection.get('their_label') }}</a>
                            <div class="text-secondary text-truncate mt-n1">{{ connection.get('state') }}</div>
                        </div>
                        <div class="col-auto">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link link-secondary w-100" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>