<div class="modal modal-blur fade" id="modal-credentials" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Credentials</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
        <div class="row row-deck row-cards">
            {% for credential in session.get('credentials', []) %}
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row g-2 align-items-center">
                            <div class="col-auto">
                                <span class="avatar avatar-lg" data-bs-toggle="modal"
                                    data-bs-target="#modal-credential-{{ loop.index }}"
                                    style="background-image: url({{ credential['issuer']['image'] }})"></span>
                            </div>
                            <div class="col">
                                <h5 class="m-0">
                                    <a href="#">{{ credential.get('name') or 'No credential name' }}</a>
                                </h5>
                                <div class="text-secondary">
                                    {{ credential['issuer'].get('name') or 'No issuer name' }}
                                </div>
                                <div class="small mt-1">
                                    {% if credential.get('validFrom') %} {{ credential['validFrom'].split('T')[0] }}
                                    {% else %} No Issuance {% endif %}
                                    -
                                    {% if credential.get('validUntil') %} {{ credential['validUntil'].split('T')[0] }}
                                    {% else %} No Expiration {% endif %}
                                </div>
                            </div>
                            <div class="col-auto">
                                <a href="#" onclick='downloadVc({{ credential | tojson }})' class="btn-action">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="icon icon-tabler icons-tabler-outline icon-tabler-download">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
                                        <path d="M7 11l5 5l5 -5" />
                                        <path d="M12 4l0 12" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link link-secondary w-100" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    function downloadVc(credential) {
        var a = document.createElement("a");
        var file = new Blob([JSON.stringify(credential, null, 4)], { type: 'application/json' });
        a.href = URL.createObjectURL(file);
        a.download = 'credential.json';
        a.click();
        return true
    }
</script>