{% extends('layouts/base.min.jinja') %}
{% block page %}

<div class="container container-tight py-4">
    <div class="text-center mb-4">
        <a href="." class="navbar-brand navbar-brand-autodark">
            <img width="220px" src="{{ url_for('static', filename='img/pydentity-logo.png') }}">
        </a>
    </div>
    <div id="loading-access" class="progress progress-sm" style="display: none;">
        <div class="progress-bar progress-bar-indeterminate"></div>
    </div>
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-3">
                <img src="{{ qrcode(app_url) }}" alt="Install Wallet" class="rounded">
            </div>
            <div class="col">
                <h3 class="card-title mb-1">
                    <a href="#" class="text-reset">Install Now!</a>
                </h3>
                <div class="text-secondary">Open with a mobile device</div>
                <div class="mt-3">
                </div>
            </div>
            <div class="col-auto">
                <div class="dropdown">
                    <a target="_blank" href="{{ project_url }}" class="text-dark" style="text-decoration : none">
                        <i class="ti ti-info-square-rounded" style="font-size: 2.0em;"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}